body {
  background-color: rgb(26, 26, 26);
  margin: 0; /* Убираем отступы по умолчанию */
  min-height: 100vh; /* Занимаем всю высоту экрана */
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  color: rgb(235, 221, 221);
}

p {
  margin: 10px 0; /* Отступы между параграфами */
}
h1, h2{
  margin-top: 30px;
  margin-bottom: 0px;
}

/* --------------------------------------------------------------------------------------------------- */
#aboutMe {
  top: 50px;
  display: flex;
  top: 30px;
  width: 1500px;
  height: 540px;
  border: 3px solid black;
  border-radius: 30px;
  padding: 20px; /* Добавляем отступы внутри блока */
  background: rgb(36, 36, 36); /* Фон блока (опционально) */
}

.myDescription {
  font-weight: 400;
  font-size: 20px;
}

#myPhoto {
  border-radius: 10px;
  object-fit: cover;
  width: 350px;
  height: 500px;
  margin: 20px;
}

#textAboutMe {
  top: 0;
  font-size: 18px;
}

.nameSurname {
  font-size: 30px;
  font-weight: 600;
}

.highlight {
  font-weight: 600;
  font-size: 20px;
}

/* --------------------------------------------------------------------------------------------------- */


